{% extends "base.html" %}

{% block content %}

    {% include "alert.html" %}

    <form action="" id="the_form" method="post">
        <div class="form-group">
            <label for="employee_id" class="form-label">თანამშრომელი</label>
            <select class="form-control" id="employee_id" name="employee_id" required>
                {% for employee in employees %}
                    <option value="{{ employee.employee_id }}">{{ employee.full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="paid_total">გადახდილი თანხა ₾</label>
            <input type="number" class="form-control" id="paid_total" name="paid_total" required>
        </div>
        <div class="form-group">
            <label for="pay_date" class="form-label">თარიღი</label>
            <input type="date" class="form-control" name="pay_date" id="pay_date" aria-describedby="pay_date" required>
        </div>
        <div class="form-group">
            <label for="car_category_name-0" class="form-label">მანქანის კატეგორია</label>
            <select onchange="handle_car_models_display(this.value)" class="form-control" id="car_category_name-0" name="car_category_name" required>
                <option value=""></option>
                {% for category_name in car_categories %}
                    <option value="{{ category_name.car_category_id }}">{{ category_name.car_category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="car_models-0" class="form-label">მანქანის მოდელი</label>
            <select class="form-control" id="car_models-0" name="car_models" required>
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">სამუშაოს აღწერა</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">დასტური</button>
    </form>

    <script>
        $('#card-title').text('შესრულებული სამუშაოს დამატება')
        $('#collapsePages2').addClass('show')

        let car = new Car()
        function handle_car_models_display(car_category_id) {
            let car_models = car.get_car_models(car_category_id)
            car.append_models_to_select('car_models-0', car_models)
        }

        $(document).ready(function(){
            $("#the_form").validate();
        })
    </script>

{% endblock %}